<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Magellano - NFT Marketplace Website Template by Ansonika">
    <meta name="author" content="Ansonika">
    <title>Magellano - NFT Marketplace Website Template</title>

    <!-- FAVICONS-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->
    <link href="css/detail-page.css" rel="stylesheet">
     <link href="css/listing.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body>
	
	<div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
				
	<header class="header_in clearfix element_to_stick">
	    <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
	    <div class="container">
	       <div class="logo">
	            <a href="index.html">
	              
	                 <img src="img/unam.png" alt="" width="50" height="50" class="dark">
	                   <img src="img/unam2.webp" alt="" width="50" height="50" class="light">
	                
	            </a>
	        </div>
	        <ul class="top_menu drop_user">
	        	<li>
                    <span class="color_mode_bt">
                        <input id="theme_toggle" type="checkbox" name="theme_toggle"/>
                        <label for="theme_toggle"></label>
                    </span>
                </li>
				<li>
					
					<!-- /dropdown -->
				</li>
			</ul>
			<!-- /top_menu -->
	        <a href="#0" class="open_close">
	            <i class="bi bi-list"></i><span>Menu</span>
	        </a>
	        <nav class="main-menu">
	            <div id="header_menu">
	                <a href="#0" class="open_close">
	                    <i class="bi bi-x"></i>
	                </a>
	                <a href="index.html" class="logo_menu">
	                	<img src="img/logo-placeholder.png" data-src="img/logo.svg" alt="" width="120" height="30" class="dark lazy">
	                	<img src="img/logo-placeholder.png" data-src="img/logo-light-mode.svg" alt="" width="120" height="30" class="light lazy">
	                </a>
	            </div>
	            <ul>
	                <li class="submenu">
	                    <a href="#0" class="show-submenu">Home</a>
	                    <ul>
	                        <li><a href="index.html">Default</a></li>
	                        <li><a href="index-2.html">Experimental Particles</a></li>
	                        <li><a href="index-10.html">Particles</a></li>
	                        <li><a href="index-3.html">Video Background</a></li>
	                        <li><a href="index-4.html">Vertical Slider</a></li>
	                        <li><a href="index-5.html">Slider</a></li>
	                        <li><a href="index-6.html">Hero Categories</a></li>
	                        <li><a href="index-11.html">Hero Vesion 2</a></li>
	                        <li><a href="index-7.html">GDPR Cookie Bar EU Law</a></li>
	                        <li><a href="index-8.html">Modal Advertise</a></li>
	                        <li><a href="index-9.html">Modal Newsletter</a></li>
	                    </ul>
	                </li>
	                <li class="submenu">
	                    <a href="#0" class="show-submenu">Carrito</a>
	                    <ul>
	                        <li><a th:href="@{/getCart}">Mi Carrito</a></li>
	                    </ul>
	                </li>
	                <li class="submenu">
	                    <a href="#0" class="show-submenu">Pages</a>
	                    <ul>
	                        <li><a href="404.html">404 Error</a></li>
	                        <li><a href="help.html">Help and Faq</a></li>
	                        <li class="third-level"><a href="#0">Pricing Tables</a>
	                            <ul>
	                                <li><a href="pricing-tables-1.html">Version 1</a></li>
	                                <li><a href="pricing-tables-2.html">Version 2</a></li>
	                                <li><a href="pricing-tables-3.html">Version 3</a></li>
	                            </ul>
	                        </li>
	                        <li><a href="become-author.html">Become an Author</a></li>
	                        <li><a href="author-edit-profile.html">Edit profile</a></li>
	                        <li><a href="upload-artwork.html">Upload Artwork</a></li>
	                        <li><a href="account-settings.html">Account Settings</a></li>
	                        <li><a href="blog.html">Blog</a></li>
	                        <li><a href="blog-no-sidebar.html">Blog no sidebar</a></li>
	                        <li><a href="contacts.html">Contacts</a></li>
	                        <li><a href="login.html">Login</a></li>
	                        <li><a href="register.html">Register</a></li>
	                    </ul>
	                </li>
	              
	            </ul>
	        </nav>
	    </div>
	</header>
	<!-- /header -->
	
	
	   
<main class="flex-shrink-0">
 <div class="container page_header ">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="menuLibros">Busqueda de libros</a></li>
                       
                    </ul>
                </div>
                
            </div>
	<br>

	<div class="container">
			<div class="row">
			<h5> Matem&aacute;ticas</h5>
			</div></div>
				
				 
				 

 <div class="filters_full element_to_stick">
            <div class="container">
                <div class="add_bottom_20 clearfix">
                    <div class="custom_select">
                        <select name="sort" id="sort">
                            <option value="popularity" selected="selected">Sort by Popularity</option>
                            <option value="rating">Sort by Newness</option>
                            <option value="date">Sort by Trending</option>
                        </select>
                    </div>
                    <a href="#collapseFilters" data-bs-toggle="collapse" class="btn_filters"><i class="bi bi-filter"></i><span>Filters</span></a>
                    <div class="search_bar_list">
                        <input type="text" class="form-control" placeholder="Titulo | Autor | Editorial"  id="idInputSeacrhBook">
                    </div>
                    <a class="btn_search_mobile btn_filters" data-bs-toggle="collapse" href="#collapseSearch"><i class="bi bi-search"></i></a>
                </div>
            </div>
            <div class="collapse filters_2" id="collapseFilters">
                <div class="container ">
                    <div class="row">
                        <div class="col">
                            <div class="filter_type">
                                <h6>Categor&iacute;as</h6>
                                <ul>
                                    <li>
                                        <label class="container_check">Agrimensura prehispánica
                                            <input type="checkbox" id="id1">
                                            <span class="checkmark after"></span>

                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Análisis no lineal>
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Aplicaciones máquina teórico 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Combinatoria estocástica 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Combinatoria y optimización 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="filter_type">
                                <h6>&nbsp</h6>
                                <ul>
                                    <li>
                                        <label class="container_check">Control óptimo y cálculo variacional 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Estadística bayesiana 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Estadística espacial 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Física matemática 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="container_check">Mécanica 
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                        
                    </div>
                  <!-- /row -->
                </div>
            </div>
            <!-- /filters -->
            <div class="collapse" id="collapseSearch">
                <div class="search_bar_list">
                    <input type="text" class="form-control" placeholder="Search again...">
                </div>
            </div>
            <!-- /collapseSearch -->
        </div>

<div class="container">
  <div class="row ">
  
   
		
		
		<div id="idLibros">
			
		</div> 
		
		
	
	
	
         
    
   
  </div>
</div>

 
	</main>
	<!-- /main -->
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	<footer>
		<div class="container">
			<div class="row">
				
				 <div class="container">
    <span class="text-muted">Hecho en M&eacute;xico. Universidad Nacional Aut&oacute;noma de M&eacute;xico (UNAM), todos los derechos reservados 2010-2022. Esta p&aacute;gina puede ser reproducida con fines no lucrativos.</span>
  </div>
			
				
			</div>
			<!-- /row-->
			<hr>
			
		</div>
	</footer>
	<!--/footer-->

	<div id="toTop"></div><!-- Back to top button -->

	<!-- Modal Bid -->
	
	<!-- Modal Bid -->
	
	<!-- COMMON SCRIPTS -->
   <!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/common_func.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="js/sticky_sidebar.min.js"></script>
    <script src="js/specific_listing.js"></script>
    <script>
    
     function buscarLibro(){ 
       $.ajax({
        url : '/obtenerLibros',
        type :'GET',
        data : {busqueda: $('#idInputSeacrhBook').val()},
        cache: false,
        timeout: 600000,
        success : function(data) {               
          //  alert('Data: ' + JSON.stringify(data));
            
            
           /*  var contenido='<div class="row ">'+
				    '<div class="container">'+
				     '<div class="row ">'+
				     '<div class="col"><a href="menuLibrosSel"><img src="img/b1.png" height="150px" width="150px"></a></div>'+ 
				     '<div class="col"><img src="img/b1.png" height="150px" width="150px"></div>'+
				     '<div class="col"><img src="img/b1.png" height="150px" width="150px"></div>'+
				     '</div>'+
				     '<div class="row text-center"><div class="col">baldor</div> <div class="col">baldor</div> <div class="col">baldor</div></div>'+
				    '</div>'+
			       '</div>'
			 */      
			       
			var contenido='<div class="row ">'+
			                 '<div class="container">'+ 
			                  '<div class="row ">';   
			     
			     $.each(data.respuesta, function(propName, propVal) {
                      contenido+='<div class="col" style="margin-top:30px">'+
                                    '<a href="menuLibrosSel?id_proveedor='+propVal.id_proveedor+'">'+
                                     '<img src="img/'+propVal.nombre_imagen+'" height="150px" width="150px" data-bs-toggle="tooltip" data-bs-placement="top"'+
                                      'title="Autor:'+propVal.autor+' Editorial:'+propVal.editorial+'">'+
                                      propVal.titulo+
                                    '</a>'+
                                   '</div>';
                     
                    // console.log(propVal, propVal.url);
                   });

            contenido += '</div>'+
			            '</div>'+
			           '</div>';
            
            
            $("#idLibros").html(contenido);
            
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			  return new bootstrap.Tooltip(tooltipTriggerEl)
			})
            
        },
        error : function(request,error) {
            alert("Error : " + JSON.stringify(request));
        }
    });
     
    } 
    
    
    
    (function ($) {
    "use strict";
		$('#sidebar_fixed').theiaStickySidebar({
		    minWidth: 991,
		    updateSidebarHeight: false,
		    additionalMarginTop: 135
		});
		
		
		
	$( '#idInputSeacrhBook' ).on( 'keyup',  function() {buscarLibro()});


	buscarLibro();
		
		
	})(window.jQuery); 
    </script>
    
    
   

</body>
</html>